


    <!-- Content Header (Page header) -->
    <div class="content-header">
      <!-- <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div> -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3" routerLink="user-info">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-friends"></i></span>

              <div class="info-box-content">
                <span class="info-box-text"> Users </span>
                <span class="info-box-number">

                  <!-- <small>%</small> -->
                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5% &nbsp;<span>New Users</span></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>


          <!-- ./col -->
          <div class="col-12 col-sm-6 col-md-3" routerLink="restaurant-info">
            <div class="info-box">
              <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-cutlery"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Restaurant </span>
                <span class="info-box-number">
                  104
                  <!-- <small>%</small> -->
                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5% &nbsp;<span> New Restaurant</span></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <div class="col-12 col-sm-6 col-md-3" routerLink="add-calories">
            <div class="info-box">
              <span class="info-box-icon bg-violet elevation-1"><i class="fas fa-concierge-bell"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Dishes</span>
                <span class="info-box-number">
                  10

                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5% &nbsp;<span> New Dishes</span></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- ./col -->
          <div class="col-12 col-sm-6 col-md-3" routerLink="promo-items">
            <div class="info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-chart-bar"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Promotions</span>
                <span class="info-box-number">
                  10
                  <!-- <small>%</small> -->
                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5%</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- ./col -->
        </div>

        <div class="row">



          <!-- ./col -->


          <div class="col-12 col-sm-6 col-md-3" routerLink="transactions">
            <div class="info-box">
              <span class="info-box-icon bg-limegreen elevation-1"><i class="fas fa-chart-line"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Transactions </span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5%</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- ./col -->
          <div class="col-12 col-sm-6 col-md-3" routerLink="transactions">
            <div class="info-box">
              <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-truck"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Standrad Orders </span>
                <span class="info-box-number">
                  104
                  <!-- <small>%</small> -->
                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5% </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- ./col -->
          <div class="col-12 col-sm-6 col-md-3" routerLink="under-construction">
            <div class="info-box">
              <span class="info-box-icon bg-success elevation-1"><i class="fa fa-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">App Orders </span>
                <span class="info-box-number">
                  104
                  <!-- <small>%</small> -->
                </span>
                <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5% </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
            <!-- ./col -->
            <div class="col-12 col-sm-6 col-md-3" routerLink="transactions">
              <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Sales </span>
                  <span class="info-box-number">
                    104
                    <!-- <small>%</small> -->
                  </span>
                  <span class="badge badge-light"><i class="fas fa-angle-up"></i> +2.5% </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </div>


        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header  ">
                <h3 class="card-title">
                  <!-- <i class="fas fa-chart-pie mr-1"></i> -->
                Sales and Transactions activity
                </h3>
                <div class="card-tools">

                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-wrench"></i>
                    </button> -->
                    <div >

                    </div>
                  </div>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button> -->
                </div>
                <!-- <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                    </li>
                  </ul>
                </div> -->
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart"
                       style="position: relative">
                       <div style="display: block;height:350px">

                       <!-- (chartHover)="chartHovered($event)"
                       (chartClick)="chartClicked($event)" -->
                      </div>
                   </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header  ">
                <h3 class="card-title">Pending Approvals</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                  <li class="item">
                    <div class="product-img">
                      <img src="../../../assets/151-1584103085-Chicken-Supreme.jpg" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Chicken Supreme
                        <span class="badge badge-warning float-right">$1800</span></a>
                      <span class="product-description">
                        Spicy chicken, chicken fajita, smoked chicken, onions, green peppers, olives and mushrooms.
                      </span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="../../../assets/15-1584447916-Very-Veggie.jpg" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Very Veggie
                        <span class="badge badge-info float-right">$700</span></a>
                      <span class="product-description">
                        A colorful medley of tomatoes, onions, mushrooms, black olives, and green peppers.
                      </span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="../../../assets/142-1584005093-Cheese-Lover.jpg" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">
                        Cheese Lover <span class="badge badge-danger float-right">
                        $350
                      </span>
                      </a>
                      <span class="product-description">
                        Go back to where it all began with classic mozzarella cheese & tomato base.
                      </span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="../../../assets/171-1584004868-BBQ-Buzz.jpg" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">BBQ Buzz
                        <span class="badge badge-success float-right">$399</span></a>
                      <span class="product-description">
                        Smoked chicken, capsicum, onions and black olives, sweet and smoky BBQ sauce
                      </span>
                    </div>
                  </li>
                    <!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="../../../assets/15-1584447916-Very-Veggie.jpg" alt="Product Image" class="img-size-50">
                      </div>
                      <div class="product-info">
                        <a href="javascript:void(0)" class="product-title">Very Veggie
                          <span class="badge badge-info float-right">$700</span></a>
                        <span class="product-description">
                          A colorful medley of tomatoes, onions, mushrooms, black olives, and green peppers.
                        </span>
                      </div>
                    </li>
                  <!-- /.item -->
                </ul>
              </div>
              <!-- /.card-body -->
              <div class="card-footer text-center">
                <a href="javascript:void(0)" class="uppercase">View All Products</a>
              </div>
              <!-- /.card-footer -->
            </div>
          </div>

        </div>






       
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

